#keyboard-grid {
    layout: grid;
    grid-size: 15 8;
    grid-columns: 7;
    grid-rows: 3;
    width: auto;
    height: auto;
    grid-gutter: 0 1;
}



.key{
    border: solid green;
    content-align: center middle;
    height: 100%;
}

.key.normal {

}

.key.placeholder {
    border: blank;
}

.key.long{
    row-span: 2;
}