#keyboard-grid {
    layout: grid;
    grid-size: 15 8;
    grid-columns: 7;
    grid-rows: 3;
    width: auto;
    height: auto;
    grid-gutter: 0 1;
}



.key{
    content-align: center middle;
    height: 100%;
    padding: 0;
    margin: 0;

}

.key.normal {

}

.key.placeholder {
    border: blank;
    background: $background;

}

.key.long{
    row-span: 2;
}

.key.software-triggered{
    background: $primary;
}